[Unit]
    Description=Send Discord webhook on system boot
    Wants=network-online.target
    After=network-online.target

[Service]
    Type=oneshot
    ExecStart=%h/Desktop/discord_pi_online/.venv/bin/python %h/Desktop/discord_pi_online/discord_webhook.py
    WorkingDirectory=%h/Desktop/discord_pi_online

[Install]
    WantedBy=default.target